.header {
  position: fixed;
  background-color: inherit;
  backdrop-filter: blur(10px);
  border-bottom: 1px solid #ddd;
  align-items: center;
  justify-content: center;
  text-align: center;
  right: 0;
  left: 0;
  top: 0;
  overflow-y: auto;
  background-color: white;
  z-index: 9;
}
